extends layout

block content
	div(class="container")
		h1= title
		form#formAddUser(name="adduser",method="post",action="adduser")
			div(class="form-group")
				input#inputUserName(type="text", class="form-control", placeholder="username", name="username")
			div(class="form-group")
				input#inputUserEmail(type="text", class="form-control", placeholder="email",name="useremail")
			div(class="form-group")
				input#inputUserPassword(type="password", class="form-control", placeholder="password",name="userpass")
			div(class="form-group")
				button#btnSubmit(type="submit" class="btn btn-default") submit
		